fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(80vw);
}
fieldset div{
    margin: 10px;
}
input{
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    height: 30px;
    width: 100px;
    color: white;
    background-color: chartreuse;
    margin: 5px;
}
button:hover{
    box-shadow: 5px 5px 8px gray;
}
.rigth{
    float: right

}